body{
	padding: 0%;
	margin: 0%;
	background: #e0e0e0;
	font-family: 'ABeeZee', sans-serif;
}

header{
	display:flex;
  	flex-flow: row wrap;
  	justify-content: space-between;
  	background-color: #5fcf80;
  	width:98%;
  	margin-bottom:0.1%;
  	padding:0.5% 1% 0.5% 1%;
  	box-shadow: 0px 3px 15px 5px #202020;
}

.logo{
	width: 10%;
}

.logo-image{
	cursor: pointer;
}

nav{
  width:90%;
  display:flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}

nav ul{
	padding: 1%;
	margin: 0%;
	list-style: none;
	display: flex;
	flex-flow: row-wrap;
	justify-content: flex-end;
}

nav ul li{
	padding: 0px 10px 0px 10px;
	background: transparent;
	font-size: 25px;
}

nav ul li a{
	font-family: 'Bree Serif', serif;
	text-decoration: none;
	color: red;
	padding: 2px;
	border: 2px;
	color: #FFFFFF;
	font-weight: bolder;
	transition: text-shadow 0.5s ease;
}

nav ul li .active{
	color: black;
}

nav ul li a:hover{
	text-shadow: 8px 8px 3px #202020;	
}

footer{
	font-family: "Bree Serif", serif;
	font-weight: bolder;
	font-size: 20px;
	background: #5fcf80;
  	text-align: center;
  	color: #222;
  	width:98%;
  	display:flex;
  	flex-flow: column wrap;
  	align-items: center;
  	padding:0.5% 1% 0.5% 1%;
}

@media all and (max-width:800px){
  header{
    display:flex;
    flex-flow: column wrap;
  }

  .logo{
    width:100%;
    text-align: center;
  }

  nav{
    width:100%;
    text-align: center;
  }

  nav ul{
    display:flex;
    flex-flow: column wrap;
  }

  .footer{
    flex-flow: column wrap;
    align-items: center;
  }

}