/*Name: Sandesh Gautam*/
/*UN ID: 17425103*/
/*https://977craving-knowledge.github.io/a1b2c3d4csy1018/*/
/*Gives the following padding and mardin value to the form division.*/
.form{
	padding: 4% 20%;
	margin: 0%;
}
/*This is for the styling of the fieldset tag.*/
fieldset{
	background: #c8c8c8;
	border-radius: 15px;
	box-sizing: border-box;
	border: 2px #151515 solid;
}
/*This is for the styling of the legent tag and it's contents.*/
legend{
	font-size: 1.25em;
	font-family: 'Acme', sans-serif;
	color: #000000;
	margin: 0%;
	padding: 0%;
	text-align: center;
	cursor: default;
}
/*This is to provide the label tag with 0% margin and 0% padding.*/
label{
	margin: 0%;
	padding: 0%;
}
/*This gives various stylings like inline-block (which auto-adjusts the block size when the browser is resized), 
border radius and other border properties to the corresponding input type.*/
/*(w3schools, 2017)*/
input[type=text]{
	width: 97%;
	padding: 16px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-sizing: border-box;
}
/*(w3schools, 2017)*/
/*This gives various stylings like inline-block (which auto-adjusts the block size when the browser is resized), 
border radius and other border properties to the corresponding input type.*/
input[type=email]{
	width: 97%;
	padding: 16px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-sizing: border-box;
}
/*(w3schools, 2017)*/
/*This gives various stylings like inline-block (which auto-adjusts the block size when the browser is resized), 
border radius and other border properties to the corresponding input type.*/
textarea{
	width: 97%;
	padding: 16px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-sizing: border-box;
}
/*(w3schools, 2017)*/
/*This gives various stylings like inline-block (which auto-adjusts the block size when the browser is resized), 
border radius, cursor style, font style and other border properties to the corresponding input type.*/
input[type=submit]{
	padding: 20px;
	font-size: 1em;
	margin: 8px 0px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Acme', sans-serif;
	font-size: 1.438em;
	background-color: #909090;
	border: 1px solid #000000;
	border-radius: 5px;
	box-sizing: border-box;
}
/*(w3schools, 2017)*/
/*This gives the transistion property to the submit button when we hover the cursor upon it.*/
input[type=submit]:hover{
	background-color: #000000;
	color: #FFFFFF;
}
/*This gives the webpage a responsive design.*/
/*This changes the alignments or the format of the contents when the width of the webpage reaches equal or below 800 pixels.*/
@media all and (max-width: 800px){
	/*Provides the mentioned padding and margin values to the division:form*/
	.form{
		margin: 1%;
		padding: 2% 5% 2% 5%;
	}
}
/*This changes the alignments or the format of the contents when the width of the webpage reaches equal or below 500 pixels.*/
@media all and (max-width: 500px){
	/*Provides the mentioned padding and margin values to the division:form*/
	.form{
		margin: 1%;
		padding: 2%;
	}
}
/*W3schools(2017)CSS Forms[Online] Available From:https://www.w3schools.com*/