.form{
	padding: 4% 20%;
	margin: 0%;
}

fieldset{
	background: #d8d8d8;
	border-radius: 15px;
	box-sizing: border-box;
}

legend{
	font-size: 30px;
	font-family: 'Acme', sans-serif;
	color: #000000;
	margin: 0%;
	padding: 0%;
	text-align: center;
	cursor: default;
}

label{
	margin: 0%;
	padding: 0%;
}

input[type=text]{
	width: 97%;
	padding: 16px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=email]{
	width: 97%;
	padding: 16px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-sizing: border-box;
}

textarea{
	width: 97%;
	padding: 16px;
	margin: 8px 0px;
	display: inline-block;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=submit]{
	padding: 20px;
	font-size: 16px;
	margin: 8px 0px;
	display: inline-block;
	cursor: pointer;
	font-family: 'Acme', sans-serif;
	font-size: 23px;
	background-color: #909090;
	border: 1px solid #000000;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=submit]:hover{
	background-color: #000000;
	color: #FFFFFF;
}

@media all and (max-width: 800px){
	.form{
		margin: 1%;
		padding: 2% 5% 2% 5%;
	}
}

@media all and (max-width: 500px){
	.form{
		margin: 1%;
		padding: 2%;
	}
}