.starting_text{
	font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 30px;
	padding: 0%;
	margin: 0%;
	width: 100%;
}

.starting_text h3{
	color: #000000;
	padding: 0%;
	margin: 2.5% 0% 0% 0%;
	cursor: default;
	text-shadow: 8px 8px 6px #686868;
}

.contents{
	width: 100%;
}

.contents_one{
	padding: 1% 5% 2.5% 0%;
	margin: 2%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.contents_two{
	padding: 0.2% 5% 0.2% 0%;
	margin: 2%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.contents_three{
	padding: 2.5% 5% 1% 0%;
	margin: 2%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

p{
	font-size: 30px;
	font-weight: bolder;
	font-family: 'Acme', sans-serif;
	text-align: justify;
	padding: 0%;
	margin: 0%;
	color: #000000;
	cursor: default;
}

ul{
	padding: 3% 0% 0% 4%;
	margin: 0%;
}

.contents li{
	list-style: square;
	list-style-position: outside;
	font-size: 20px;
	font-weight: bold;
	cursor: default;
	margin: 0%;
	padding: 0%;
}

.personal, .education{
	width: 50%;
	text-align: justify;
	padding: 0% 0% 0% 2.5%;
	box-sizing: border-box;
}

.coursework, .activity{
	width: 50%;
	text-align: justify;
	padding: 0% 0% 0% 2.5%;
	box-sizing: border-box;
}

.skill, .experience{
	width: 50%;
	text-align: justify;
	padding: 0% 0% 0% 2.5%;
	box-sizing: border-box;
}

@media all and (max-width: 800px){
	.contents_one, .contents_two, .contents_three{
		display: flex;
		flex-flow: column wrap;
	}

	p{
		text-align: justify;
	}

	.contents_one ul li, .contents_two ul li, .contents_three ul li{
		text-align: justify;
		margin: 0%;
		padding: 0%
	}

	.contents{
		display: flex;
		flex-flow: column;
		padding: 5% 0% 0% 25%;
		width: 75%;
	}

	.personal, .education, .coursework, .activity, .skill, .experience{
		padding: 5% 0% 5% 0%;
		box-sizing: border-box;
		width: 90%
	}

	.contents_one, .contents_two, .contents_three{
		display: flex;
		flex-flow: column;
		padding: 0%;
	}
}

@media all and (max-width: 730px){
	.contents{
		display: flex;
		flex-flow: column;
		padding: 5% 0% 0% 5%;
		width: 90%;
	}

	.contents_one, .contents_two, .contents_three{
		display: flex;
		flex-flow: column;
		text-align: justify;
		padding: 0%;
		width: 100%;
	}

	.personal, .education, .coursework, .activity, .skill, .experience{
		width: 100%;
		text-align: justify;
	}
}