.starting_text{
	font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 30px;
	padding: 0%;
	margin: 0%;
	width: 100%;
}

.starting_text h3{
	color: #FAFAFA;
	padding: 0%;
	margin: 2.5% 0% 1% 0%;
	cursor: default;
	text-shadow: 8px 8px 6px #111111;
}

.main{
	background: #e0e0e0;
	width: 100%;
	padding: 1.5% 0% 2.5% 0%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.main-image{
	cursor: pointer;
}

.myimage:hover{
	transition: transform 0.8s ease-in;
	transform: scale3d(1.05, 1.05, 1.05);
}

.description{
	padding: 0% 20% 2% 20%;
	margin: 0%;
	width: 60%;
	cursor: default;
	font-weight: bolder;
	text-align: justify;
}

.description h3{
	padding: 0% 0% 1.8% 0%;
	margin: 0.1%;
	font-size: 20px;
}

@media all and (max-width: 1000px){
	.main{
		flex-flow: column wrap;
		align-items: center;
	}

	.description{
		width: 60%;
		text-align: justify;
	}
}

@media all and (max-width: 800px){
	.main{
		flex-flow: column wrap;
		align-items: center;
	}

	.description{
		width: 60%;
		text-align: justify;
	}
}

@media all and (max-width: 450px){
	.descripton{
		width: 100%;
		text-align: justify;
	}
}